@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-white font-sans transition-all duration-300;
  background: #191135;
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}